@import '../../style/theme/default.less';

@checkbox-prefix-cls: ~'@{iron-prefix}-checkbox';

.@{checkbox-prefix-cls} {
  &-wrapper {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      .@{checkbox-prefix-cls} {
        &-square {
          border-color: @primary-color;
        }
      }
    }
    &-disabled {
      cursor: not-allowed;
      &:hover {
        .@{checkbox-prefix-cls} {
          &-square {
            border-color: #d9d9d9;
          }
        }
      }
      .@{checkbox-prefix-cls}-label {
        color: rgba(0, 0, 0, 0.25);
      }
    }
  }

  position: relative;
  box-sizing: border-box;
  margin-right: 6px;
  line-height: 1;
  &-no-children {
    margin-right: 0;
  }
  &-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    &-disabled {
      cursor: not-allowed;
    }
  }

  &-square {
    display: inline-block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    line-height: 1;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    &.@{checkbox-prefix-cls} {
      &-checked {
        background-color: @primary-color;
        border-color: @primary-color;
      }
      &-disabled {
        background-color: #f5f5f5;
        border-color: #d9d9d9;
        cursor: not-allowed;
        .@{checkbox-prefix-cls}-checked-icon {
          color: rgba(0, 0, 0, 0.25);
        }
      }
    }
    .@{checkbox-prefix-cls} {
      &-checked-icon {
        color: #fff;
        font-weight: bold;
        font-size: 14px;
      }
      &-indeterminate {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 8px;
        height: 8px;
        line-height: 1;
        background-color: @primary-color;
      }
    }
  }
  &-label {
    display: inline-block;
    box-sizing: border-box;
    line-height: 1;
  }
}
