.ReactVirtualized__Grid {
  &:focus {
    outline: none;
  }
}

.iron-tree {
  width: 100%;
  text-align: left;
  .iron-tree-switch {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    user-select: none;
    > i {
      font-size: 12px;
    }
  }
  .iron-tree-title {
    display: inline-block;
    margin-left: 4px;
    padding: 0 5px;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
      background-color: #ccddec;
    }
  }
}
