@import '../../style/theme/default.less';

@table-filter-prefix-cls: ~'@{iron-prefix}-table-filter';

.@{table-filter-prefix-cls} {
  &-content {
    padding: 20px 22px 10px;
    border: 1px solid #bdd1e2;
  }
  &-btns {
    width: 100%;
    margin-top: 24px;
    text-align: right;
    background-color: #fff;
    > button {
      width: auto;
      height: 30px;
      padding: 0 10px;
      &:last-child {
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }
  &-icon {
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
    &.active {
      color: #09f1e6;
    }
  }
  &-icon-txt {
    margin-right: 4px;
    font-size: 16px;
    cursor: pointer;
    &.active {
      color: #ea6473;
    }
    > span {
      font-size: 12px;
    }
  }
  &-search {
    .@{iron-prefix}-input {
      border: 0;
      border-bottom: 1px solid #bdd1e2;
      &:focus {
        box-shadow: none;
      }
    }
  }
  &-title {
    padding: 4px 10px;
    color: #fff;
    line-height: 1;
    background-color: @primary-color;
    .icon-txt {
      display: inline-flex;
      align-items: center;
      margin-right: 6px;
      vertical-align: middle;
      cursor: pointer;
      &.active {
        color: #09f1e6;
      }
      &.disabled {
        cursor: default;
        pointer-events: none;
      }
      &:last-child {
        margin-left: 8px;
      }
    }
  }
  &-checkbox {
    border: 1px solid #bdd1e2;
    .des {
      height: 26px;
      margin-bottom: 10px;
      padding-left: 10px;
      color: #464c51;
      line-height: 26px;
      text-align: left;
      background-color: #f9f9f9;
    }
    .check-content {
      min-height: 140px;
      padding-left: 6px;
      text-align: left;
      .check-all {
        padding-left: 20px;
      }

      .tree-wrap {
        height: 160px;
        overflow: auto;
      }
    }
  }
  &-cal-wrap {
    position: relative;
    .date-picker {
      width: 100%;
      height: 28px;
    }
    .cal-icon {
      position: absolute;
      top: 4px;
      right: 5px;
      font-size: 20px;
    }
  }
}
